/* @media screen and (min-width: 1400px) and (max-width: 2200px) {

	.footer-wrapper {
		grid-template-columns: 1.6fr 1fr 1fr 1fr 1fr;
	}

	.footer-wrapper .footer-item:nth-child(1) {
		padding-right: 6rem;
	}
}



@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.nav-search {
		max-width: 698px;
	}

	.seller-wrapper {
		grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
	}

	.footer-wrapper {
		grid-template-columns: 1.6fr 1fr 1fr 1fr 1fr;
	}

	.footer-wrapper .footer-item:nth-child(1) {
		padding-right: 4rem;
	}
} */


/* @media screen and (min-width:1400px) and (max-width:2200px) {
	.footer-wrapper {
		grid-template-columns: 1.6fr 1fr 1fr 1fr 1fr;

		.footer-item:nth-child(1) {
			padding-right: 6rem;
		}
	}
}


@media screen and (min-width:1200px) and (max-width:1400px) {
	.nav-search {
		max-width: 698px;
	}

	.seller-wrapper {
		grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
	}

	.footer-wrapper {
		grid-template-columns: 1.6fr 1fr 1fr 1fr 1fr;

		.footer-item:nth-child(1) {
			padding-right: 4rem;
		}
	}
} */



@media screen and (min-width:992px) and (max-width:1200px) {

	.week-wrapper,
	.hero-bottom,
	.arrival-wrapper,
	.week-wrapper3,
	.seller-wrapper,
	.footer-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
		background: tomato;
	}

	.banner-area {
		padding: 20px;
		border-radius: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: 500px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
	}

	.banner-btn {
		justify-content: center;
	}

	.hero-nav {
		margin-bottom: 0px;

		ul {
			li {
				a {
					font-size: 12px;
				}
			}
		}
	}

	.hero-wrapper {
		gap: 0px;
	}

	.heroNav-left {
		margin-left: 16px;
	}

	.nav-category {
		ul {
			li {
				a {
					font-size: 12px;
				}
			}

			li:first-child {
				a {
					font-size: 12px;
				}
			}
		}
	}

	.week-wrapper {
		margin-bottom: 0;
	}

	.week-area {
		padding-bottom: 20px;
	}

	.footer-wrapper {
		grid-row-gap: 40px;
	}

	.footer-item {
		padding-left: 18% !important;
	}
}


/*FOR-TABLATE-START*/
@media screen and (min-width:768px) and (max-width:991px) {

	.week-wrapper,
	.hero-bottom,
	.arrival-wrapper,
	.week-wrapper3,
	.seller-wrapper,
	.footer-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
		background: navy;
	}

	.sidebar-menu {
		display: block;
	}

	.menu-btn {
		display: block;
	}

	.nav_items {
		display: none;
	}

	.nav-search,
	.nav-right,
	.logo-location {
		display: none;
	}

	.order-right,
	.order-left {
		p {
			font-size: 10px;
		}
	}

	.banner-area {
		padding: 20px;
		border-radius: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: auto;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
	}

	.banner-btn {
		justify-content: center;
	}

	.hero-nav {
		margin-bottom: 0px;
		display: none;

		ul {
			li {
				a {
					font-size: 12px;
				}
			}
		}
	}

	.hero-wrapper {
		gap: 0px;
		flex-direction: column;
	}

	.heroNav-left {
		margin-left: 16px;
	}

	.nav-category {
		ul {
			li {
				a {
					font-size: 12px;
				}
			}

			li:first-child {
				a {
					font-size: 12px;
				}
			}
		}
	}

	.hero-left {
		display: none;
	}

	.header-area {
		padding: 22px 0 8px;
	}

	.banner-title {
		h2 {
			font-size: 32px;
		}

		p {
			font-size: 12px;
			padding: 12px 0 20px;
		}
	}

	.shop {
		a {
			font-size: 10px;
			padding: 10px 18px;
		}
	}

	.dollar {
		h3 {
			font-size: 20px;
		}
	}

	.heroNav-area::after {
		display: none;
	}

	.hero-bottom {
		margin-bottom: 16px;
	}

	.week-wrapper {
		gap: 16px;
		margin-bottom: 16px;
		margin-bottom: 0;
	}

	.week-area2 {
		padding: 32px 0;
	}

	.week-wrapper3 {
		gap: 20px;
	}

	.week-area3 {
		.week-item {
			padding: 26px;
		}
	}

	.week-area {
		padding-bottom: 20px;
	}

	.footer-wrapper {
		grid-row-gap: 40px;
	}

	.footer-item {
		padding-left: 18% !important;
	}

	.newsletter-wrapper,
	.footer-wrapper,
	.footer-bottom {
		padding: 30px 0;
	}

	.footer-logo {
		text-align: center;
	}
}


@media screen and (max-width:767px) {

	.week-wrapper,
	.hero-bottom,
	.arrival-wrapper,
	.week-wrapper3,
	.seller-wrapper,
	.footer-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
		background: red;
	}

	.sidebar-menu {
		display: block;
	}

	.menu-btn {
		display: block;
	}

	.nav_items {
		display: none;
	}

	.logo {
		img {
			width: 150px;
		}
	}

	.order-right,
	.order-left {
		p {
			font-size: 10px;
		}
	}

	.order-bottom {
		display: none;
	}

	.order-wrapper {
		flex-direction: column;
	}

	.nav-search,
	.nav-right,
	.logo-location {
		display: none;
	}

	.banner-area {
		padding: 20px;
		border-radius: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: auto;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
	}

	.banner-btn {
		justify-content: center;
	}

	.hero-nav {
		margin-bottom: 0px;
		display: none;

		ul {
			li {
				a {
					font-size: 12px;
				}
			}
		}
	}

	.hero-wrapper {
		gap: 0px;
		flex-direction: column;
	}

	.heroNav-left {
		margin-left: 16px;
	}

	.nav-category {
		ul {
			li {
				a {
					font-size: 12px;
				}
			}

			li:first-child {
				a {
					font-size: 12px;
				}
			}
		}
	}

	.hero-left {
		display: none;
	}

	.header-area {
		padding: 22px 0 8px;
	}

	.banner-title {
		h2 {
			font-size: 12px;
		}

		p {
			font-size: 12px;
			padding: 12px 0 20px;
		}
	}

	.shop {
		a {
			font-size: 10px;
			padding: 10px 18px;
		}
	}

	.dollar {
		h3 {
			font-size: 20px;
		}
	}

	.heroNav-area::after {
		display: none;
	}


	.hero-bottomItem {
		text-align: center;
		display: block;
	}

	.week-wrapper {
		gap: 16px;
		margin-bottom: 16px;
	}

	.week-item {
		padding: 18px;
		text-align: center;
	}

	.title {
		font-size: 18px;
	}

	.btn {
		font-size: 10px;
		border-radius: 30px;
		padding: 8px 10px;
	}

	.secTitle {
		font-size: 16px;
	}

	.arrival-title {
		margin-bottom: 14px;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	.arrival-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}


	.arrival-cart {
		text-align: center;
	}

	.week-area2 {
		padding: 26px 0 9px;

		.week-item {
			padding: 20px;
			height: auto;
		}
	}

	.week-wrapper3 {
		gap: 20px;
		margin-bottom: 20px;
	}

	.week-area3 {
		.week-item {
			padding: 26px;
		}
	}

	.seller-title {
		padding-bottom: 10px;
		flex-direction: column;
		text-align: center;
		gap: 10px;
	}

	.order-area {
		display: none;
	}

	.footer-wrapper {
		grid-row-gap: 40px;
		text-align: center;

		.footer-item:nth-child(1) {
			padding-right: 0;
		}
	}

	.footer-item {
		padding-left: 0% !important;
	}

	.footer-text {
		grid-template-columns: 1fr;
		grid-row-gap: 16px;
	}

	.footer-download {
		grid-template-columns: 1fr;
	}

	.footer-social {
		padding-top: 30px;
	}

	.newsletter-wrapper,
	.footer-wrapper,
	.footer-bottom {
		padding: 20px 0;
	}

	.footer-logo {
		text-align: center;
	}

	.newsletter-wrapper {
		display: block;
		text-align: center;
	}

	.newsletter-input {
		margin: 0 8%;
	}

	.copyright {
		display: block;
		text-align: center;
	}

	.copyright-right {
		ul {
			justify-content: center;
			margin-top: 16px;
		}
	}

	.review-title {
		flex-direction: column;
		gap: 20px;
		text-align: center;
	}

	.review-head {
		justify-content: center;
	}

	.review-content {
		p {
			text-align: center;
		}
	}
}


/*FOR-MOBIL-START*/

@media screen and (max-width: 480px) {
	.order-wrapper {
		display: none;
	}

	.review-info {
		color: orange;
	}

	.week-wrapper,
	.hero-bottom,
	.arrival-wrapper,
	.week-wrapper3,
	.seller-wrapper,
	.footer-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
		background: orange;
	}
}